<!DOCTYPE html>
<html>
  <head>
    <title>Ember-Sinatra-Moc</title>

    <script src="assets/javascripts/app.js"></script>

    <link href="assets/stylesheets/app.css" rel="stylesheet">

  </head>
  <body>

    <script type="text/x-handlebars" data-template-name="message">
      {{ message }}
    </script>

    
  </body>
</html>
